:root {
  --primary-color: #8390FA;    /* Purple */
  --secondary-color: #397367;  /* Dark background */
  --accent-color: #EF709D;     /* Accent color */
  --dark-color: #1D2F6F;      
  --text-color: #000000;       
  --background-color: #FDFFFC;    
  --link-color: #3f88ff;       /* Link color */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0e0e11;
  color: white;
  margin: 0;
  padding: 0;
}

button {
  background: var(--secondary-color);
  color: white;
  padding: 10px;
  margin: 15px !important;
  border-radius: 10px !important;
  border: 2px solid hsl(0, 89%, 4%);
  cursor: pointer;
  transition: 0.3s;
}

.navbar {
  font-family: 'Roboto Mono', monospace;
  color: var(--dark-color);
  font-weight: bold;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.navbar .nav-link {
  color: var(--dark-color) !important;
}

.navbar .nav-link:hover {
  color: var(--primary-color) !important;
}

blockquote, .serif-text {
  font-family: 'Noto Serif', serif;
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
