.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    /* overflow: hidden; */
    margin: auto;

    /* border: 1px solid #ccc */
}

/* .map-con img{
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
} */

.map-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

