.wall-con {
    /* border: 1px solid #ccc; */

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    margin: auto;

}

body {
    overflow-x: hidden; /* Prevent horizontal scroll on the entire page for now. This is because back button is pissing me off*/
}

.submit-button-con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 100%;
    overflow-x: hidden;
}

.back-button {
    white-space: nowrap;
    background-color: #1D2F6f;
    max-width: 100%;
    margin-right: auto !important;
}

.submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.wall-tip {
    display: flex;
    justify-content: center;
    margin-bottom: -5px !important;
    margin-top: -10px !important;
}

.wall-button-and-label {
    margin-right: auto !important;
}